## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## Rider / JetBrains
.idea/
*.sln.iml

## macOS
.DS_Store

## User-specific
launchSettings.json.user